.card {
    float: left;
    margin: 0.5em;
}

.btn-download {
    float: right;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    max-width: fit-content;
}

h1{
    color: white;
}