.header1{
    font-weight: bold;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}
label{
    font-weight: bold;
    color:white;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: -100px;
}
h1{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -5px;
    margin-top: -10px;
}

.card{
    margin-left: 10px;
    background-color: #1d1d1d90;
}

.card:hover{
   
    background-color: #1d1d1d90;
    box-shadow: 4px 2px 7px #00000060;
}


.col-sm-6{
    width: 37%;
}
.card-title{
    color: #ee6c4d;
}


.card-subtitle{
    color: white;
    font-size: 14px;
}

.card-text{
    color: white;
    font-size: 14px;
}
button{
    float: right;
}

.right{
    color: white;
    float: right;
    margin-top: -52px;
}

.right .status{
    background-color: none;
    border: white;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 26px;
    text-align: center;
    border-radius: 5px;
}

.card a#button{
    color: white;
    float: right;
    margin-top: 20px;
    background-color: #84848460;
    border-width: 1px;
    width: 100px;
    height: 26px;
    text-align: center;
    border-radius: 5px;
    
}

.card #button:hover{
    background-color: #7eb7f560;

}

.row1{
    display: flex;
}

.card-body .date {
    background: url(assets/calendar-check.svg) no-repeat ;
    margin-bottom: 10px;

  }

  .card-body .date .card-text {
    margin-left: 30px;
}

.card-body .time {
    background: url(assets/clock.svg) no-repeat ;
 
  }

.card-body .time .card-text {
    margin-left: 30px;
}

#chart1{
    width: 45rem;
    height: 22rem;
}

#announcementcard{
    margin-left: 20rem;
}


form .btn{
   color: white;
   float: right;
    margin-top: 16px;
}
