h1{
    color: white;
    text-align: center;
}


body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 20px;

}
.hr-line{
  width: 60%;
  margin: auto;
  color: white;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #ee6c4d;
    cursor: pointer;
    padding: 20px 20px;
    width: 60%;
    border-radius: 5px 5px 0px 0px;
    outline: none;
    transition: 0.1s;
    margin: auto;
    background-color: #1d1d1d90;
    margin-top: 10px;
    font-weight: bold;
    

}
.faq-body{
    color: #1d1d1d;
    cursor: pointer;
    padding: 20px 20px;
    width: 60%;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    margin: auto;   
    
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
    color: #ee6c4d;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #1d1d1d;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


