*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #efefef;
    font-family: effra, sans-serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 160px;
    height: 100%;
    background: #293241;
    padding: 30px 0;
}

.wrapper .sidebar ul li {
    padding: 15px;
}

.wrapper .sidebar ul li a{
    color: #ffffff;
    display: block;
    font-size: 12px;
    text-align: center;
}
.wrapper .sidebar hr{
   opacity: 0.3;
   border-width: .5px;
   align-items: center;
   width:25%;
   margin: auto;
}

.logo-image{
    width: 70px;
    height: auto;
    margin-left: 45px;
    margin-bottom: 20px;
}

.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 15px 8px;
  }

.header-right {
    float: right;
  }

.header-right a{
    color: #ee6c4d;
    font-size: 16px;
  }

.header-left{
  float: left;
  text-align: center;
  padding-left: 200px;
  padding-top: 20px;
  line-height: 0px;
} 

.header-left p{
    color: #293241;
    font-size: 16px;
  }
.user {
    width: 25px;
    height: auto;
    right: 225px;
    position: absolute;
    padding-top: 6px;
}

  .dropdown-content {
    display: none; 
    width: 100%;
    overflow: auto;
    border-radius: 5px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #293241;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #313131;
    background-color: #d4d4d4;
    font-size: light;
  }

.header-right button{
    background-color: #ffffff;
    opacity: 0.8;
    color: #ee6c4d;;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: effra, sans-serif;

}

.header-right button:hover{
    background-color: #293241;
    opacity: 0.8;
    color: #ffffff;;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: effra, sans-serif;
}


.wrapper .sidebar .nav-item{
  font-weight: bold;
}

.wrapper .sidebar .nav-item:hover{
  font-weight: bold;
  background-color: #717986;
  border-radius: 5px;
}

.main_content{
  margin-left: 200px;
}