*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #293241;
  font-family: 'Avenir', sans-serif;
}

a {
  text-decoration: none;
}


.sidebar {
  position: fixed;
  width: 140px;
  height: 100%;
  background: #1d1d1d;
  padding: 30px 0;

  border-radius: 0px 15px 15px 0px;
  z-index: 1;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul hr{
  opacity: 0.3;
  border-width: .5px;
  align-items: center;
  width: 25%;
  margin: auto;
}

.sidebar ul li {
  font-weight: bold;
  padding: 15px 0;
}

.sidebar ul li a{
  color: #ffffff;
  display: block;
  font-size: 12px;
  text-align: left;
  margin-left: 35%;
  text-decoration: none;
  
}
.sidebar ul .nav-item1{
  background: url(assets/house-door-fill.svg) no-repeat 15%;
}
.sidebar ul .nav-item2{
  background: url(assets/pencil-square.svg) no-repeat 15% ;
}
.sidebar ul .nav-item3{
  background: url(assets/view-stacked.svg) no-repeat 15%;
}
.sidebar ul .nav-item4{
  background: url(assets/question-circle.svg) no-repeat 15% ;
}
.sidebar ul .nav-item5{
  background: url(assets/bar-chart-fill.svg) no-repeat 15% ;
}
.sidebar ul .nav-item6{
  background: url(assets/chat-left-text.svg) no-repeat 15% ;
}

.sidebar ul li:hover{
  font-weight: bold;
  background-color: #3c3c3c80;
  border-radius: 2px;
}

.logo-image{
  width: 50px;
  height: auto;
  margin-left: 47px;
  margin-bottom:20px;
  margin-top: 10px;
}
hr{
  color: white;
}

.header {

  padding-top: 10px;
  margin-right: 20px;
  
}

.header-right {
  float: right;
}

.header-right a{
  color: #ee6c4d;
  font-size: 16px;
}

.header-left{
  float: left;
  text-align: center;
  padding-left: 170px;
  padding-top: 20px;
  line-height: 0px;
} 

.header-left p{
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}

.header-left p:hover{
  color: #ee6c4d;
  font-size: 16px;
}
.user {
  width: 25px;
  height: auto;
  right: 225px;
  position: absolute;
  padding-top: 6px;
}

.dropdown-content {
  display: none; 
  width: 100%;
  overflow: auto;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #293241;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
.dropdown-content a:hover {
  color: #ffffff;

}

.header-right button{
  background-color: #1d1d1d;
  opacity: 0.8;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
}

.header-right button:hover{
    background-color: #1d1d1d30;
    opacity: 0.8;
    color: #ffffff;;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Avenir', sans-serif;
}

.main_content {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 30px;
  margin-bottom: 20px;
}