.container{
    font-family: effra, sans-serif;
}

.container p {
font-weight: light;
color: #ffffff;
}
.form-container {
position: absolute;
top: 0;
left: 380px;
width: 1070px;
height: 100%;
background-color: #293241;
color: white;
}

.overlay h1{
color:#313131;
padding-right: 1070px;
text-align: center;
padding-top: 200px;
}

.overlay p{
color: #313131;
text-align: center;
padding-right: 1100px;
padding-right: 1070px;
font-size: 14px;
}

.overlay img{
width: 250px;
padding-left: 50px;
padding-top: 20px;
}

.overlay .footer{
font-weight: bold;
color: #313131;
text-align: center;
padding-right: 1070px;
padding-top: 220px;
font-size: 12px;
}

form {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100%;
text-align: center;
}

.overlay .btn{
background-color: #ee6c4d;
font-weight: 700;
border: none;
color: white;
border-radius: 8px;
padding: 5px 30px;
cursor: pointer; 
margin-left: 130px;
}



.btn{
background-color: #ee6c4d;
font-weight: 700;
border: none;
color: white;
border-radius: 8px;
padding: 5px 30px;
cursor: pointer; 
left: 50px;
}

.form-container input[type=text]{
border-color: white;
border-width: 1px;
padding: 5px 40px;
border-radius: 5px;
color: #313131
}

.form-container input[type=password]{
border-color: white;
border-width: 1px;
padding: 5px 40px;
border-radius: 5px;
color: #313131;
}
.form-container h1{
font-size: 40px;
}
