table{
    border-collapse: collapse;
    width: 900px;
    margin: auto;
    position: relative;
    left: 80px;

}

.status .option1{
    color: blue;
}

.status .option2{
    color: orange;
}

.status .option3{
    color: red;
}

.status .option4{
    color: green;
}

th{
    background-color: #98c1d9;
    color: white;
    padding: 12px;

}

tr:nth-child(odd){
    background-color: #cecece;
    
}

tr{
    text-align: center;
    background-color: white;
    
}

td{
    font-size: 12px;
    padding: 12px;
}

div{
    font-size: 20px;
    font-weight: bold;
    color: #313131;
}