.table-striped thead{
    background-color: #98c1d9;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.table-striped tbody tr:hover{
    background-color: rgb(211, 229, 250);
}

.table-striped tbody {
    background-color: rgb(255, 255, 255);
}


body{
    color: white;
  
}