.formcontainer {
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d90;
    width: 700px;
    padding-top: 40px;
    border-radius: 2px;
}

h1{
    font-size: 26px;
    font-family: effra, sans-serif;
    color: #ffffff;
}

.container-left{
    padding-bottom: 70px;
    padding-right: 20px;
}

p{
    font-family: effra, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

span{
    color: #ffffff;
    font-weight: 400;
}
.btn{
    background-color: #ee6c4d;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 7px 20px;
    cursor: pointer;
    
}

input[type=text]{
    border-radius: 5px;
    border-width: .5px;
    border-color: #dfdfdf;
    margin: 10px 0;
    display: block;
    height: 20px;
    width: 200px;
    padding: 5px 20px;
} 

textarea{
    border-radius: 5px;
    border-color: #dfdfdf;
    margin: 10px 0;
    height: 150px;
    width: 300px;
    font-family: effra, sans-serif;
    padding: 12px 20px;
} 


.dropdown .select{
    background-color: white;
    padding: 2px 20px;
    font-family: effra, sans-serif;
    border-radius: 5px;
    border-color: #d2d3d4;
}
