<html>
    <head>

    </head>
    <body>
        <div>
            <p>
                View All Tickets
            </p>
        </div>
        <table>
            <tr>
                <th>
                    <p>

                    </p>
                </th>
                <th>
                    <p>
                        
                    </p>   
                </th>
                <th>
                    <p>x
                        
                    </p>
                </th>
            </tr>
        </table>
    </body>
</html>