{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/analytics.css"/>
{% endblock %}

{% block title %} Analytics {% endblock %}

{% block content %}
    <div class="diagrams">
        <br><br>
        <div class="chart-container" id="chart1"></div>
        <div class="chart-container" id="table1"></div>
        <br>
        <div class="chart-container" id="chart2"></div>
        <div class="chart-container" id="table2"></div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Plotly CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graph1 = {{ graph1JSON | safe }};
        Plotly.plot("chart1", graph1, {});

        var table1 = {{ table1JSON | safe }};
        Plotly.plot("table1", table1, {});

        var graph2 = {{ graph2JSON | safe }};
        Plotly.plot("chart2", graph2, {});

        var table2 = {{ table2JSON | safe }};
        Plotly.plot("table2", table2, {});
    </script>
{% endblock %}