<!doctype html>
{% extends "layout.html" %}

{% block css %}
        <link rel="stylesheet" href="/static/ticket_form.css"/>
{% endblock %}

{% block title %} Create A Ticket {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith%}
    <div class="formcontainer">
        <form action = "/create_tickets.html" method = "POST">
            <div class="container-left">
                    <h1>Create New Ticket</h1>
                    <br><hr><br>
                    
                    <p>Title
                    <span>ex. "Faucet Leak"</span>
                    <br> <input type = "text" 
                                name = "Title" 
                                value="{{ request.form['Title'] }}"
                                oninvalid="this.setCustomValidity('Required!')" 
                                oninput="this.setCustomValidity('')"
                                required>
                    <!--/input--></p>
                    
                    <p>Please describe the problem <br>
                        <textarea name = "Description"
                                value="{{ request.form['Description'] }}"
                                oninvalid="this.setCustomValidity('Required!')" 
                                oninput="this.setCustomValidity('')"
                                required></textarea>
                    </p>

                    <p>Severity of the problem <br></p> 
                    <div class="dropdown">
                        <select class="select" 
                                name = "Severity_level"
                                value="{{request.form['Severity_level']}}"
                                oninvalid="this.setCustomValidity('Required!')" 
                                oninput="this.setCustomValidity('')"
                                required>
                            <option value="" selected disabled hidden>-- Select Severity --</option>
                            <option>LOW</option>
                            <option>MILD</option>
                            <option>HIGH</option>
                        </select>
 
                    </div>
                    <br>
                    <p>Location of problem <br></p> 
                    <div class="dropdown">
                        <select class="select" name = "Location"
                                value="{{ request.form['Location'] }}"
                                oninvalid="this.setCustomValidity('Required!')" 
                                oninput="this.setCustomValidity('')"
                                required>
                            <option value="" selected disabled hidden>-- Select Location --</option>
                            <option>Bathroom</option>
                            <option>Bedroom</option>
                            <option>Kitchen</option>
                            <option>Living Room</option>
                        </select>
                    </div>
            </div>
            <div class="container-right">
                <p>Your Building <br> 
                <div class="dropdown">
                    <select class="select" name="Building"
                            value="{{ request.form['Building'] }}"
                            oninvalid="this.setCustomValidity('Required!')" 
                            oninput="this.setCustomValidity('')"
                            required>
                        <option value="" selected disabled hidden>-- Select Building --</option>
                        <option>Argenta Hall</option>
                        <option>Canada Hall</option>
                        <option>Great Basin Hall</option>
                        <option>Juniper Hall</option>
                        <option>Living Learning Community</option>
                        <option>Manzanita Hall</option>
                        <option>Nye Hall</option>
                        <option>Peavine Hall</option>
                        <option>Sierra Hall</option>
                    </select>
                </div>
                <br>
                <p>Your Unit # 
                    <input type ="text" 
                            name = "Unit#"  
                            value="{{ request.form['Unit#'] }}"
                            oninvalid="this.setCustomValidity('Required!')" 
                            oninput="this.setCustomValidity('')"
                            required>
                <!--/input--></p>

                <p>Additional Notes <br>
                    <textarea 
                    name = "AdditionalNotes"  
                    value="{{ request.form['AdditionalNotes'] }}"></textarea></p>

                <input class="btn" type="submit" name="submit_btn" value="Submit Ticket">
            </div>
        </form>
    </div>
{% endblock %}

