{% extends "layout.html" %}

{% block css %}
<head>
    <link rel="stylesheet" href="/static/dashboard.css"/>
    <title>Dashboard</title>
</head>
{% endblock %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<body>
    <h1>Your Dashboard</h1>
    <br>
    <p class="header1">Recent Activity</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 500px;">
          <div class="card-body">
            <h5 class="card-title">{{ ticket.title}} </h5>
            <h6 class="card-subtitle mb-2">Submitted on {{ticket.submission_date}}</h6>
            <p class="card-text">Ticket ID: {{ticket.id }}</p>
            <p class="card-text">Location: {{ticket.building}}</p>
            <p class="card-text">Description:<br> {{ticket.description}}</p>
          </div>
        </div>
      </div>
     
     
</body>


{% endblock %}