{% extends "layout.html" %}

{% block css %}
<head>
    <link rel="stylesheet" href="/static/feedback.css"/>
    <title>Feedback</title>
</head>
{% endblock %}

{% block content %}

    <h1>View all feedback</h1>

    {% for feedback in all_feedback %}
  
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            <a style="color: #22262e; padding: 2px;" href="{{ url_for('main_bp.view_single_ticket', ticket_id=feedback.id) }}">
              Feedback for ticket #{{feedback.id}}
            </a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Rate your experience: {{feedback.experience_rate}}</li>
         
          <li class="list-group-item">Were you satisfied with our service? {{feedback.satisfied_level}}</li>
          <li class="list-group-item">Any additional comments or concerns? {{ feedback.additional_comments}}</li>
        </ul>
        </ul>
      </div>
   
      <br>
    {% endfor %}





{% endblock %}