<form action = "/view_single_ticket.html" method = "POST">
    <div class="modal-header">
        <h5 class="modal-title">Submit Feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <label class="form-label required">Rate Your Experience</label>
            <br>
            <!--input type="text"  name = "Experience_Rate"
            value="{{ request.form['Experience_Rate'] }}"class="form-control"-->
            <div class="rating">
                <input type="radio" name="Experience_Rate" value="5">
                <input type="radio" name="Experience_Rate" value="4.5">
                <input type="radio" name="Experience_Rate" value="4">
                <input type="radio" name="Experience_Rate" value="3.5">
                <input type="radio" name="Experience_Rate" value="3">
                <input type="radio" name="Experience_Rate" value="2.5">
                <input type="radio" name="Experience_Rate" value="2">
                <input type="radio" name="Experience_Rate" value="1.5">
                <input type="radio" name="Experience_Rate" value="1">
                <input type="radio" name="Experience_Rate" value="0.5" checked>
            </div>
        </div>
        <br><br>
        <div class="mb-3">
            <label class="form-label required">Were you satisfied with our service?</label>
            <!--input type="text"  name = "Satisfied_Level"
            value="{{ request.form['Satisfied_Level'] }}"class="form-control"-->
            <select class="select"name="Satisfied_Level" 
                    value="{{ request.form['Satisfied_Level'] }}"
                    class="form-control">
                <option class="option1" value="Satisfied">Satisfied</option>
                <option class="option2" value="Mostly Satisfied">Mostly Satisfied</option>
                <option class="option3" value="Mostly Unsatisfied">Mostly Unsatisfied</option>
                <option class="option4" value="Unsatisfied">Unsatisfied</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label required">Additional comments or concerns</label>
            <textarea class="form-control"  name = "Additional_Comments"
            value="{{ request.form['Additional_Comments'] }}"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <input class="btn" type="submit" name="submit_btn" value="Submit">
    </div>
</form>