<div class="header-left">
    {% if isAdmin %}
        <p>Optimum Property Fix - Admin</p>
    {% else %}
        <p>Optimum Property Fix - Student</p>
    {% endif %}
</div>


<div class="dropdown">
    <div class="header-right">

        <div class="dropdown">
            <button class="username btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {{ name }}
            </button>
            <ul class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{{url_for('main_bp.log_out')}}">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

