<div class="header-left">
    <p>Optimum Property Fix</p>
</div>


<div class="dropdown">
    <div class="header-right">

        <div class="dropdown">
            <button class="username btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if isAdmin %}
                    Welcome, Admin {{ name }}
                {% else %}
                    Welcome, Student {{ name }}
                {% endif %}
            </button>
            <ul class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{{url_for('main_bp.log_out')}}">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

