<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Style Sheets for Formatting w/ CSS -->
        <link rel="stylesheet" href="/static/layout.css"/>
        <link rel="stylesheet" href="/static/ticket_form.css"/>
        <link rel="stylesheet" href="/static/tickets_table.css"/> 

        <link rel="stylesheet" href="/static/singleticket.css"/>
        <link rel="stylesheet" href="/static/analytics.css"/>
        {%block css %} {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                {% include "side_nav.html" %}
            </div>
        </div>
        <div class="header">
            {% include "header.html" %}
        </div>
        <div class="main_content">
                    {% block content %}{% endblock %}
        </div>



        {% block scripts %}{% endblock %}
    </body>
</html>