<!doctype html>
<head>
    <link rel="stylesheet" href="/static/login.css"/>
    <title>Log In</title>
</head>

<body>
<div class="container">
    <div class="form-container">
       
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith%}
        <form class="main" action="/log_in.html" method="POST">
            <h1>Welcome To 
                <br>Optimum Property Fix</h1>

            <p>Please sign in to continue.</p>
            <input type="text"
                name="Net_Id"
                placeholder="Net Id"
                value="{{ request.form['Net_Id'] }}" 
                oninvalid="this.setCustomValidity('Required: Enter your NetID.')" 
                oninput="this.setCustomValidity('')"
                required><!--/input-->
            <br>
            <input type="password"
                name="Password"
                placeholder="Password"
                value="{{ request.form['Password'] }}" 
                oninvalid="this.setCustomValidity('Required: Enter your password.')" 
                oninput="this.setCustomValidity('')"
                required><!--/input-->
            <br> 
            <input class="btn" type="submit" name="submit_btn" value="Log In">
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <form action="/log_in.html" method="POST">
                <div class="overlay-panel overlay-left">
                    <img class="logo-image" src="/static/assets/OPF (1).png">
                    <h1>New Here?</h1>
                    <p>Sign up now to report your first maintenance <br>issue and receive Optimum Service!</p>
                    <input class="btn" type="submit" name="submit_btn" value="Sign Up">
                    <br>
                    
                </div>
            </form>
            <footer class="footer">Optimum Maintenance Service <br>for your University's Housing</footer>
        </div>
    </div>
</div>

</body>
