<img class="logo-image" src="/static/symbol.png">

<ul>
    <li class="nav-item"><a href="{{url_for('main_bp.dashboard')}}">Dashboard</a></li>
    <li class="nav-item"><a href="{{url_for('main_bp.create_tickets')}}">Create Ticket</a></li>
    <li class="nav-item"><a href="{{url_for('main_bp.view_tickets')}}">View Tickets</a></li>
    <li class="nav-item"><a href="{{url_for('main_bp.faq')}}">FAQ</a></li>

    
    {% if isAdmin %}
    
    <li class="nav-item"><a href="{{url_for('main_bp.analytics')}}">Analytics</a></li>
    {% endif %}
</ul>