<img class="logo-image" src="/static/symbol.png">


<ul>
    <li class="nav-item"><a href="{{url_for('main_bp.dashboard')}}">Dashboard</a></li>
    <hr>
    <li class="nav-item"><a href="{{url_for('main_bp.create_tickets')}}">Create Ticket</a></li>
    <hr>
    <li class="nav-item"><a href="{{url_for('main_bp.view_tickets')}}">View Tickets</a></li>
    <hr>
    <li class="nav-item"><a href="{{url_for('main_bp.view_single_ticket')}}">View One Ticket</a></li>
    <hr>
    <li class="nav-item"><a href="{{url_for('main_bp.faq')}}">FAQ</a></li>

</ul>
    
</html>