{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/tickets_table.css"/> 
{% endblock %}

{% block title %} View Tickets {% endblock %}

{% block content %}
    <br>
    <h1>View all tickets</h1>
    <table id = "ticketstable" class = "table table-striped">
        <thead> 
            <tr>
                <th class="sortable">Title</th>
                <th>Status</th>
                <th class="sortable">ID</th>
                <th class="sortable">Date Created</th>
                <th>Severity</th>
                <th class="sortable">Location</th>
                <th>Actions</th>
            </tr>
            
        </thead>
        <tbody> 
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.submission_date }}</td>
                <td>{{ ticket.severity_level }}</td>
                <td>{{ ticket.location }}</td>
                <td><a href="{{ url_for('main_bp.view_single_ticket', ticket_id=ticket.id) }}">• • •</a></td>
    
            </tr>
            {% endfor %}

        </tbody>

        
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            $('#ticketstable').DataTable({
                columns: [
                    null,
                    {orderable: false},
                    null,
                    null,
                    {orderable: false},
                    null,
                    {orderable: false, searchable: false}
                ]

            });
        });
    </script>
{% endblock %}