{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/singleticket.css"/>
  <link rel="stylesheet" href="/static/ticket_form.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}

{% block title %} Display Ticket {{ticket.id}} {% endblock %}

{% block content %}
<h1>View a ticket</h1>
<form action = "/view_single_ticket.html" method = "POST">
  <div class="singleticket-container">
  <h1>{{ ticket.user.first_name }}</h1>
  <h2 >{{ticket.title}}</h2>
  
  <p class="submission-date">Submitted on {{ticket.submission_date}}</p>
  <br>
  <p class="appt-heading">Appointment:<p>
    <p class="appt">{{ticket.appointment_date}}</p>
    <br>
  <div class="ticket-details">
  <p>Ticket ID: {{ticket.id}}</p>
  <p>Status: {{ticket.status}}</p>
  <p>Severity: {{ticket.severity_level}}</p>
  <p>Location: {{ticket.location}}</p>
  <p>Building: {{ticket.building}}</p>
  <p>Unit#: {{ticket.unit}}</p>
  <p>{{ticket.description}}</p>
  <p>{{ticket.additional_notes}}</p>
</div>
  <br>
  <div class="message">
  <p class="msg">Message from Facility</p>
  <p>{{ ticket.admin_message }}</p>
  </div>
</div>
  
  {% if isAdmin %}
  <div class="admincontrols">
    <p>Edit Status</p>
    <select class="select"name="Status" value="{{request.form['Status']}}">
    <option class="option1">Submitted</option>
    <option class="option2">In Progress</option>
    <option class="option3">Denied</option>
    <option class="option4">Completed</option>
    </select>
   
    <p>Make an appointment</p>
    <input type="date" name="Appointment_date" value="{{request.form['Appointment_date']}}">

    <p>Add a message</p>
    <textarea name="Admin_message" value="{{request.form['Admin_message']}}"></textarea>

    <button type="submit" 
    class="btn btn-default">Save Changes</button>
  </div>
  {% endif %}
  <div class="container mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Submit Feedback</button>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submit Feedback</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Type ypur message here</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</form>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script type="text/javascript">
    let text = '{{ ticket.status }}';
    $("select option").filter(function() {
      return $(this).text() == text;
    }).prop('selected', true);
  </script>
{% endblock %}