<!doctype html>
{% extends "layout.html" %}

{% block content %}
    <div>
        {% block title %}{% endblock %}
    </div>
    <br>
    <h1>View all tickets</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Status</th>
           <th>Building</th>
            <th>Unit</th>
            <th>Severity</th>
            <th>Location</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <!--<td><a href="{{url_for('main_bp.view_single_ticket')}}">{{ ticket.title }}</a></td>-->
            <td><input type="submit" name="ticket_title" value={{ ticket.title }}></td>
            <!--{% for status in status %}
                {% if loop.last %}
                    <td class="status">{{ status.status }}</td>
                {% endif %}
            {% endfor %}-->
            <td class="status">{{ ticket.status }}</td>
            <td>{{ ticket.building }}</td>
            <td>{{ ticket.unit }}</td>
            <td>{{ ticket.severity_level }}</td>
            <td>{{ ticket.location }}</td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}