form{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;

}

h1{
    text-align: center;
    font-family: effra, sans-serif;
    color: #313131;
}

.container-left{
    padding-bottom: 70px;
    padding-right: 20px;
}


p{
    font-family: effra, sans-serif;
    font-weight: bold;
    color: #313131;
    font-size: 12px;
}

span{
    color: #7c7c7c;
    font-weight: 400;
}
.btn{
    background-color: #ee6c4d;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 7px 20px;
    cursor: pointer;
    
}

input[type=text]{
    border-radius: 5px;
    border-width: .5px;
    border-color: #dfdfdf;
    margin: 10px 0;
    display: block;
    height: 20px;
    width: 200px;
} 

textarea{
    border-radius: 5px;
    border-color: #dfdfdf;
    margin: 10px 0;
    height: 150px;
    width: 300px;
    font-family: effra, sans-serif;
} 


select{
    background-color: none;


}
