<html>
<form action = "http://localhost:5000/result" method = "POST">
    <p>Title <input type = "text" name = "Title" /></p>
    <p>Please describe the problem <input type = "text" name = "Description"/></p>
    <p>Location of problem <input type = "text" name = "Location" /></p>
    <p>Your Building <input type ="text" name = "Building" /></p>
    <p>Your Unit # <input type ="text" name = "Unit#" /></p>
    <p>Prefered Contact Number <input type ="text" name = "Contact" /></p>
    <p>Additional Notes <input type ="text" name = "AdditionalNotes" /></p>
    <p><input type = "Submit Ticket" value = "SubmitTicket" /></p>
 </form>
 </html>