<html>
<form action = "/create_tickets.html" method = "POST">
    <h1>Create New Ticket</h1>
    <p>Title <input type = "text" name = "Title" /></p>
    <p>Please describe the problem <input type = "text" name = "Description"/></p>
    <p>Location of problem <input type = "text" name = "Location" /></p>
    <p>Your Building <input type ="text" name = "Building" /></p>
    <p>Your Unit # <input type ="text" name = "Unit#" /></p>
    <p>Prefered Contact Number <input type ="text" name = "Contact" /></p>
    <p>Additional Notes <input type ="text" name = "AdditionalNotes" /></p>
    <button type="submit" class="btn btn-default">Submit</button>
 </form>
 </html>