<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Style Sheets for Formatting w/ CSS -->
        <link rel="stylesheet" href="../static/layout.css"/>
        <link rel="stylesheet" href="/static/ticket_form.css"/>
        <link rel="stylesheet" href="/static/layout.css"/>
        <link rel="stylesheet" href="/static/tickets_table.css"/>
        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                {% include "side_nav.html" %}
            </div>

            <div class="content">
                <div class="header">
                    <a>Logo</a>
                    <div class="header-right">
                        <a href="#signout">Sign Out</a>
                    </div>
                </div>
                
                <div class="main_content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>