<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/layout.css"/>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="wrapper">
            <div class="header"></div>
            <div class="sidebar">
                {% include "side_nav.html" %}
            </div>
            {% block content %}
            <div class="main_content">
                {% include "create_ticket_form.html" %}
            </div>
            {% endblock %}
        </div>
    </body>
</html>