<!doctype html>
<head>
    <link rel="stylesheet" href="/static/login.css"/>
</head>

{% block content %}
<div class="container">
    <div class="form-container">
    <form action="/log_in.html" method="POST">
        <h1>Welcome To 
            <br>Optimum Property Fix</h1>
    <p>Please sign in to continue.</p>
            <input type="text"
            name="Net_Id"
            placeholder="Net_Id"
            value="{{ request.form['Net_Id'] }}">
            </input>
            <br>
            <input type="text"
            name="Password"
            placeholder="Password"
            value="{{ request.form['Password'] }}">
            </input>
            <br> 
            <button class="btn" type="submit">Log In</button>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>New Here?</h1>
                <p>Sign up now to report your first maintenance issue and receive Optimum Service!</p>
                <button class="btn" type="submit">Sign Up</button>
                <!--formaction="{{url_for('sign_up')}}"-->
            </div>
        </div>
    </div>
</div>
    </form>
{% endblock %}
