<!doctype html>
{% block content %}
<div class="form-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith%}
<h1>Create An Account</h1>
    <form action = "/sign_up.html" method = "POST">
        <div class="container-right">
        <input type = "text"
        name = "Net_Id"
        placeholder = "Net ID"
        value = "{{ request.form['Net_Id'] }}">
        </input>
        <select name ="Is_Student"
        value="{{ request.form['Is_Student'] }}">
        <option>Student</option>
        <option>Admin</option>
        </select>
        <br>
        <input type = "text"
        name = "First_Name"
        placeholder = "First Name"
        value = "{{ request.form['First_Name'] }}">
        </input>
        <input type = "text"
        name = "Last_Name"
        placeholder = "Last Name"
        value = "{{ request.form['Last_Name'] }}">
        </input>
        <br>
        <select name = "Gender"
        value="{{ request.form['Gender'] }}">
        <option>Male</option>
        <option>Female</option>
        <option>Do not wish to answer</option>
        </select>
        <select name="Year"
        value="{{ request.form['Year'] }}">
        <option>Freshman</option>
        <option>Sophomore</option>
        <option>Junior</option>
        <option>Senior</option>
        <option>Not Applicable</option>
        </select>
        <br>
        <input type = "text"
        name = "Contact_Email"
        placeholder = "Email Address"
        value = "{{ request.form['Contact_Email'] }}">
        </input>
        <br>
        <input type = "text"
        name = "Password"
        placeholder = "Password"
        value = "{{ request.form['Password'] }}">
        </input>
        <br>
        <a href = log_in.html>
        <button type="submit" class="btn btn-default">Sign Up</button>
    </a>
        <br>
        <h1>Already Here?</h1>
        <p>Log in to your existing account to access dashboard</p>
        <button type="submit" formaction="{{url_for('log_in')}}">Log In</button>
        </div>



    </form>
{% endblock %}