<!doctype html>
{% extends "layout.html" %}

{% block content %}
    <h1>Welcome To Optimum Property Fix</h1>
    <p>Please sign in to continue.</p>

    <form method="POST" action="/signup.html">
        <p>First Name 
            <input type = "text" 
                name = "first_name" 
                value="{{ request.form['first_name'] }}">
            </input>
        </p>
        <p>Last Name
            <input type = "text" 
                name = "last_name" 
                value="{{ request.form['last_name'] }}">
            </input>
        </p>
        <p>Are you a student?
            <div class="custom-select">
                <select name = "isStudent"
                value="{{request.form['isStudent']}}">
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div>
        </p>
        <p>NSHE ID
            <input type = "text" 
                name = "nshe_id" 
                value="{{ request.form['nshe_id'] }}">
            </input>
        </p>
        <p>Net ID
            <input type = "text" 
                name = "net_id" 
                value="{{ request.form['net_id'] }}">
            </input>
        </p>
        <p>Gender
            <div class="custom-select">
                <select name = "gender"
                value="{{request.form['gender']}}">
                    <option>FEMALE</option>
                    <option>MALE</option>
                </select>
            </div>
        </p>
        <p>Year
            <input type = "text" 
                name = "year" 
                value="{{ request.form['year'] }}">
            </input>
        </p>
        <p>Contact email 
            <input type = "text" 
                name = "contact_email" 
                value="{{ request.form['contact_email'] }}">
            </input>
        </p>
        <p>Password 
            <input type = "text" 
                name = "password" 
                value="{{ request.form['password'] }}">
            </input>
        </p>
        <button type="submit" 
                class="btn btn-default">Sign In</button>
    </form>
{% endblock %}

