<!doctype html>
<div>
    <div>
        <p>
            View All Tickets
        </p>
    </div>
    <table>
        <tr>
            <th>
                <p>
                    Title
                </p>
            </th>
            <th>
                <p>
                    Status
                </p>   
            </th>
            <th>
                <p>
                    ID
                </p>
            </th>
            <th>
                <p>
                    Severity
                </p>
            </th>
            <th>
                <p>
                    Date Requested
                </p>
            </th>
            <th>
                <p>
                    Location
                </p>
            </th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <th>
                <p>
                    {{ ticket.title }}
                </p>
            </th>
            <th>
                <p>
                    {{ ticket.status }}
                </p>   
            </th>
            <th>
                <p>
                    {{ ticket.id }}
                </p>
            </th>
            <th>
                <p>
                    {{ ticket.severity }}
                </p>
            </th>
            <th>
                <p>
                    {{ ticket.date_requested }}
                </p>
            </th>
            <th>
                <p>
                    {{ ticket.location }}
                </p>
            </th>
        </tr>
        {% endfor %}
    </table>
</div>