<!doctype html>
{% extends "layout.html" %}

{% block content %}
    <div>
        {% block title %}{% endblock %}
    </div>
    <br>
    <h1>View all tickets</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Building</th>
            <th>Unit</th>
        </tr>
        {% for ticket in tickets %}
        
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.location }}</td>
            <td>{{ ticket.building }}</td>
            <td>{{ ticket.unit }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}